*.pyc
lib/*
**/build/*
**/project.egg-info*
**/.idea
**/.directory
**/.scrapy
crawlers/**/setup.py
**/twistd.pid
**/dbs
**/eggs
**/tmp/*
**/*.pyc
/*/__pycache__/*
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
dbconfig.py
passenger_wsgi.py
scraper/tmp/*